version=1.0.0

db=mydb
host=localhost
user=root
psw=12091209

log=/home/xin/Workspace/DisEnt/disnet/log
mylib=/home/xin/Workspace/DisEnt/disnet/common/lib/mylib
bin=/home/xin/Workspace/DisEnt/disnet/bin


mapping_ncbo_path=/home/xin/Workspace/DisEnt/disnet/term_mapping/ncbo
debug=n
testrun=y
cleandb=y
cleantmp=n
cleanchunks=n
cleandata=n
checkupdate=y

##########BASIC
basic=y

####BASIC/ENSEMBL
basic_ensembl=y
human_gene=y
homolog=y
ensembl_chunk_number=20
#SPECIES="drosophila_melanogaster:fly,mus_musculus:mouse,saccharomyces_cerevisiae:yeast,rattus_norvegicus:rat"
species="drosophila_melanogaster:fly"
#drosophila_melanogaster:fly
#rattus_norvegicus:rat
#mus_musculus:mouse
#saccharomyces_cerevisiae:yeast
#danio_rerio:zebrafish
#caenorhabditis_elegans:C_elegans


####BASIC/NCBI
basic_ncbi=y
e2e_url=ftp://ftp.ncbi.nih.gov/gene/DATA/gene2ensembl.gz
human_geneinfo_url=ftp://ftp.ncbi.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz
gene_hist_url=ftp://ftp.ncbi.nih.gov/gene/DATA/gene_history.gz


##########ONTOLOGIES
ontologies=y

####ONTOLOGIES/HDO
ontologies_hdo=y
hdo_url=http://purl.obolibrary.org/obo/doid.obo


##########SOURCE
sources=y
####SOURCES/DGA
sources_dga=n
####SOURCES/OMIM
####SOURCES/VARIATION
source_variation=y

